In [2]:
import pandas as pd

In [5]:
df_players=pd.read_csv('players_20.csv')

In [ ]:
df_players.set_index('short_name',inplace=True)

In [9]:
df_players.head(4)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df=df_players[['long_name'	,'age',	'dob',	'height_cm'	,'weight_kg',	'nationality',	'club']]

# Selecting with a single value

In [13]:
#get all data about lionel messi
df.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [15]:
# get the height of lionel messi
df.loc['L. Messi','height_cm']

np.int64(170)

In [17]:
#weight of chritiaono ronaldo
df.loc['Cristiano Ronaldo','weight_kg']

np.int64(83)

In [19]:
df.loc[:,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [20]:
# get all columns of the index lionel messi
df.loc['L. Messi',:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

# 2 Selecting with a list of values

In [22]:
# get all data about L.Messi and christiano ronaldo and l.messi
df.loc[['L. Messi','Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [24]:
# get only height of these players
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [25]:
# get height and weight if lionel messi
df.loc['L. Messi',['height_cm','weight_kg']]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

# 3 Selecting a range of data with a slice

In [26]:
# slice column labels
players=['L. Messi','Cristiano Ronaldo']
df.loc[players,'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [28]:
column=['age','dob','height_cm','weight_kg']

df.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

# 4. Selecting with a range of data with a slice

In [33]:
# one condition: Select players with height above 180 cm
column=['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,column]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [36]:
# multiple conditions: Select player with height above 180cm from Argentin
df.loc[(df['height_cm']>180)&(df['nationality']=='Argentina'),column]

                age         dob  height_cm  weight_kg
short_name
M. Icardi        26  1993-02-19        181         75
G. Higuaín       31  1987-12-10        186         89
E. Garay         32  1986-10-10        189         90
N. Otamendi      31  1988-02-12        183         81
G. Rulli         27  1992-05-20        189         84
...             ...         ...        ...        ...
T. Durso         20  1999-02-26        185         80
J. Hass          21  1998-03-27        186         88
R. Ferrario      19  2000-04-30        186         76
L. Finochietto   22  1997-04-25        186         77
N. Forastiero    20  1998-07-16        182         79

[350 rows x 4 columns]