In [ ]:
import pandas as pd

In [4]:
df=pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df=df[['long_name'	,'age',	'dob',	'height_cm'	,'weight_kg',	'nationality',	'club']]

In [5]:
df.head(6)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City

# 1. sample()

In [39]:
# exract 10 random elements from nationality column
df['nationality'].sample(10,random_state=99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [66]:
# 20% sample of data
df.sample(frac=.2,random_state=0)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Isi Ros,Isidro Ros Ríos,23,1995-11-06,165,53,Spain,AD Alcorcón
D. Avdić,Denni Robin Avdić,30,1988-09-05,193,92,Sweden,AFC Eskilstuna
D. Ceter,Damir Ceter,21,1997-11-02,189,84,Colombia,Chievo Verona
C. Aneke,Chukwuemeka Ademola Amachi Aneke,25,1993-07-03,191,83,England,Charlton Athletic
G. Milović,Goran Milović,30,1989-01-29,195,93,Croatia,KV Oostende
...,...,...,...,...,...,...,...
K. Seki,関宪 太郎,33,1986-03-09,178,76,Japan,Vegalta Sendai
J. Andersen,Joachim Andersen,23,1996-05-31,192,90,Denmark,Olympique Lyonnais
B. Davies,Ben Davies,23,1995-08-11,185,74,England,Preston North End
K. Sugimoto,杉本 健勇,26,1992-11-18,187,79,Japan,Urawa Red Diamonds
I. Díaz,Isaac Alejandro Díaz Lobos,29,1990-03-24,183,84,Chile,CD Everton de Viña del Mar

In [67]:
# increasing sampling rate
df.sample(replace=True,frac=2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
A. Szymanowski,Alexander Szymanowski,30,1988-10-13,175,65,Argentina,CD Leganés
C. Haas,Christoph Haas,26,1992-07-23,190,83,Austria,FC Admira Wacker Mödling
C. Duke,Cameron Duke,18,2001-02-13,170,61,United States,Sporting Kansas City
F. Bombagi,Francesco Bombagi,29,1989-09-07,178,75,Italy,Pordenone
A. Greene,Aaron Greene,29,1990-01-02,180,73,Republic of Ireland,Shamrock Rovers
...,...,...,...,...,...,...,...
G. Chirullo,Giuseppe Chirullo,20,1999-01-12,182,80,Italy,Castellammare di Stabia
M. Pinato,Marco Pinato,24,1995-01-09,175,66,Italy,Pisa
J. Sparkes,Jack Sparkes,18,2000-09-29,175,63,England,Exeter City
F. Druijf,Ferdy Druijf,21,1998-02-12,190,83,Netherlands,AZ Alkmaar
C. Dessers,Cyriel Dessers,24,1994-12-08,185,80,Belgium,Heracles Almelo