In [1]:
import pandas as pd

In [2]:
df_data=pd.read_csv('SampleDocuments\\StudentDetails.csv')
df_data.head()

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D

# Adding new Column
### 1.1 with a scalar value

In [3]:
#Adding new column
df_data['Language Score']=70
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Language Score
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,70
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,70
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,70
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,70
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,70
...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,70
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,70
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,70
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,70
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,70

### 1.2 Adding a new column with a array

The dataframe has 1000 rows so we need to create a array with 1000 elements

In [4]:
import numpy as np

In [5]:
#Creting an array with numpy
language_score=np.arange(0,1000)

In [6]:
df_data['Language Score']=language_score
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Language Score
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,0
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,1
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,2
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,3
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,4
...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,995
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,996
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,997
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,998
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,999

In [7]:
# creating random integers 1 and 1000
len(np.random.randint(30,100,1000))

1000

In [8]:
int_language_score=np.random.randint(30,101,size=1000)
df_data['Language Score']=int_language_score
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Language Score
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,36
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,79
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,61
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,67
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,42
...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,82
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,87
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,65
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,46
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,75

### 1.3 With assign()


  i) Add multiple columns in a single line of code  
  ii) When you need to overwrite an existing column

In [9]:
score1=np.random.randint(30,100,size=1000)
score2=np.random.randint(30,100,size=1000)

In [ ]:
#crating series to add
series1=pd.Series(score1,index=np.arange(0,1000))
series2=pd.Series(score2,index=np.arange(0,1000))

In [11]:
series1

0      73
1      77
2      53
3      44
4      97
       ..
995    69
996    38
997    54
998    77
999    97
Length: 1000, dtype: int32

In [17]:
df_data=df_data.assign(Score1=series1,Score2=series2)
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Language Score,Score1,Score2
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,36,73,89
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,79,77,94
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,61,53,97
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,67,44,91
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,42,97,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,82,69,31
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,87,38,96
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,65,54,90
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,46,77,62
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,75,97,32

### 1.3 Insert()

Inserts a new column at a specific position

In [19]:
df_data.insert(1,'Test',series1)

In [20]:
df_data

,StudentID,Test,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Language Score,Score1,Score2
0,1,73,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,36,73,89
1,2,77,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,79,77,94
2,3,53,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,61,53,97
3,4,44,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,67,44,91
4,5,97,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,42,97,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,69,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,82,69,31
996,997,38,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,87,38,96
997,998,54,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,65,54,90
998,999,77,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,46,77,62
999,1000,97,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,75,97,32