In [2]:
import pandas as pd

In [3]:
df_data=pd.read_csv('SampleDocuments\\StudentDetails.csv')

In [4]:
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F

# 1. Attributes

In [5]:
# getting access to the shape attributes
df_data.shape

(1000, 10)

In [6]:
#index attribute
df_data.index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
#column attributes
df_data.columns

Index(['StudentID', 'Score', 'Date', 'Description', 'Ethnicity', 'Subject',
       'Hobby', 'Interest', 'Age', 'Grade'],
      dtype='object')

In [8]:
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F

In [9]:
# datatypes of each column
df_data.dtypes

StudentID       int64
Score           int64
Date           object
Description    object
Ethnicity      object
Subject        object
Hobby          object
Interest       object
Age             int64
Grade          object
dtype: object

# 2. Methods

In [10]:
#head
df_data.head()

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D

In [11]:
# show info of dataframes
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StudentID    1000 non-null   int64
 1   Score        1000 non-null   int64
 2   Date         1000 non-null   object
 3   Description  1000 non-null   object
 4   Ethnicity    1000 non-null   object
 5   Subject      1000 non-null   object
 6   Hobby        1000 non-null   object
 7   Interest     1000 non-null   object
 8   Age          1000 non-null   int64
 9   Grade        1000 non-null   object
dtypes: int64(3), object(7)
memory usage: 78.3+ KB

In [12]:
# describe basic statistics
df_data.describe()

         StudentID        Score          Age
count  1000.000000  1000.000000  1000.000000
mean    500.500000    63.459000    17.525000
std     288.819436    20.262697     1.123671
min       1.000000    30.000000    16.000000
25%     250.750000    46.000000    17.000000
50%     500.500000    63.000000    18.000000
75%     750.250000    81.000000    19.000000
max    1000.000000   100.000000    19.000000

# 3. Functions

In [13]:
#obtaining no. of rows of dataframes
len(df_data)

1000

In [14]:
# Obtaining the highest index
max(df_data.index)

999

In [15]:
min(df_data.index)

0

In [16]:
# Obtaing dataframes
type(df_data)

pandas.core.frame.DataFrame

In [17]:
# rounding the values of the dataset
round(df_data,2)

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F

# Value_counts() method

### 1. Value Counts

In [18]:
# counting scores iwth. count
df_data['Score'].count()

np.int64(1000)

In [19]:
# counting no. of different scores
df_data['Ethnicity'].value_counts()

Ethnicity
Sikh        157
Kashmiri    134
Adiwasi     129
Maratha     126
Rajput      122
Odia        118
Kayasth     110
Bhramin     104
Name: count, dtype: int64

In [20]:
df_data['Subject'].value_counts(normalize=True)

Subject
Python            0.125
Maths             0.115
Chemistry         0.113
Economics         0.110
English           0.102
Physics           0.099
Zoology           0.096
Hindi             0.085
French            0.083
Social Science    0.072
Name: proportion, dtype: float64

# Set_index()

In [23]:
df_data.set_index('StudentID',inplace=True)

In [24]:
df_data.sort_index()

,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
StudentID,,,,,,,,,
1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...
996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F

# rename()

In [27]:
# rename column
df_data.rename(columns={'Score':'Marks'},inplace=True)
df_data

,Marks,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
StudentID,,,,,,,,,
1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...
996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F