In [39]:
import pandas as pd
import numpy as np

In [40]:
df_laptops=pd.read_csv('SampleDocuments\\laptop_price.csv',encoding='latin1')
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

# 1. duplicated()

### 1.1 Example 1

In [41]:
# find duplicates in 1 column/series
df_laptops.duplicated('laptop_ID')

0       False
1       False
2       False
3       False
4       False
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Length: 1303, dtype: bool

In [42]:
# show elements
df_laptops[df_laptops.duplicated('laptop_ID')]

Empty DataFrame
Columns: [laptop_ID, Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, Gpu, OpSys, Weight, Price_euros]
Index: []

In [43]:
#duplicates in 2 or more columns
df_laptops.duplicated(['Product','TypeName','Inches'])

0       False
1       False
2       False
3       False
4        True
        ...
1298     True
1299     True
1300     True
1301     True
1302     True
Length: 1303, dtype: bool

In [44]:
duplicated=df_laptops.duplicated(['Product','TypeName','Inches'])

In [45]:
df_laptops[duplicated].sort_values(['Product','TypeName'])

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1287,1305,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1098,1113,HP,250 G5,Notebook,15.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4GB,1TB HDD,Intel HD Graphics 405,Windows 10,1.96kg,500.0
1170,1188,HP,250 G5,Notebook,15.6,Full HD 1920x1080,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.96kg,679.0
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,421,Asus,ZenBook Flip,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.27kg,928.0
826,835,Asus,ZenBook Flip,2 in 1 Convertible,13.3,Touchscreen / Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.1kg,1358.0
1275,1293,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8GB,512GB SSD,Intel HD Graphics 515,Windows 10,1.2kg,729.0
1289,1307,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8GB,512GB SSD,Intel HD Graphics 515,Windows 10,1.2kg,729.0
676,684,Asus,Zenbook 3,Ultrabook,14.0,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.1kg,1135.0

### Example 1.2

Task: Find the cheapest and most expensive of each laptop of each company using sort_values() and duplicated() methods (keep 'first','Last', and false)

In [46]:
# sort dataframe ascending by company and price
# cheapest price first and expensive last 
df_laptops.sort_values(['Company','Price_euros'],inplace=True)
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1215,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.00
290,295,Acer,Chromebook C910-C2ST,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,16GB SSD,Intel HD Graphics,Chrome OS,2.19kg,199.00
1102,1117,Acer,Chromebook 15,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,4GB,16GB SSD,Intel HD Graphics,Chrome OS,2.20kg,209.00
695,703,Acer,TravelMate B117-M,Netbook,11.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,269.00
1198,1216,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Celeron Dual Core N3350 2GHz,4GB,1TB HDD,Intel HD Graphics 500,Linux,2.1kg,272.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,195,Vero,K147 (N3350/4GB/32GB/FHD/W10),Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Celeron Dual Core N3350 1.1GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.3kg,260.00
877,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00
192,196,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.3kg,999.90
184,188,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1199.00
514,521,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1399.95

In [47]:
#check all the valus in "company"
df_laptops.value_counts('Company')

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
LG             3
Google         3
Huawei         2
Name: count, dtype: int64

In [48]:
# duplicated values inside company comlumn using keep=first
duplicated_first=df_laptops.duplicated('Company',keep='first')

In [49]:
# show data frame with the duplicated values in 'Company column 
df_laptops[duplicated_first]
# show data fraame with non-duplicate values
# since it is already sorted by cheapest to expensive  
df_laptops['Cheapest']=np.where(~duplicated_first,df_laptops['Price_euros'],'-')

In [50]:
# Doing same for the most expensive laptops
duplicated_last=df_laptops.duplicated('Company',keep='last')
df_laptops['Most_expensive']=np.where(~duplicated_last,df_laptops['Price_euros'],'-')

In [51]:
# Answer
df_laptops[(~duplicated_first)|(~duplicated_last)][['Company','Cheapest','Most_expensive']]

        Company Cheapest Most_expensive
1215       Acer    174.0              -
1189       Acer        -         2599.0
1         Apple   898.94              -
17        Apple        -         2858.0
20         Asus    191.9              -
1066       Asus        -         3975.0
30        Chuwi   244.99              -
421       Chuwi        -          449.0
340        Dell    274.9              -
723        Dell        -         3659.4
983     Fujitsu    649.0              -
623     Fujitsu        -          799.0
472      Google   1275.0              -
437      Google        -         2199.0
1268         HP    209.0              -
749          HP        -         4389.0
170      Huawei   1349.0              -
214      Huawei        -         1499.0
909          LG   1899.0              -
678          LG        -         2299.0
1272     Lenovo    229.0              -
610      Lenovo        -         4899.0
1169        MSI    839.0              -
177         MSI        -         2799.0
626    Mediacom    239.0              -
580    Mediacom        -          389.0
457   Microsoft    989.0              -
449   Microsoft        -         2589.0
1117      Razer   1029.0              -
196       Razer        -         6099.0
430     Samsung    269.0              -
874     Samsung        -         1849.0
159     Toshiba    447.0              -
491     Toshiba        -         2799.0
1120       Vero    196.0              -
191        Vero        -          260.0
877      Xiaomi    935.0              -
514      Xiaomi        -        1399.95

# Drpopping duplicated values

In [ ]:
# reset dataframe
df_laptops.drop(columns=['Cheapest','Most_expensive'],axis=1,inplace=True)

In [55]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1215,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.0
290,295,Acer,Chromebook C910-C2ST,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,16GB SSD,Intel HD Graphics,Chrome OS,2.19kg,199.0
1102,1117,Acer,Chromebook 15,Notebook,15.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,4GB,16GB SSD,Intel HD Graphics,Chrome OS,2.20kg,209.0

In [57]:
# drop duplicates in 2 or more columns
df_laptops.drop_duplicates(['Company']).value_counts('Company')

Company
Acer         1
Apple        1
Asus         1
Chuwi        1
Dell         1
Fujitsu      1
Google       1
HP           1
Huawei       1
LG           1
Lenovo       1
MSI          1
Mediacom     1
Microsoft    1
Razer        1
Samsung      1
Toshiba      1
Vero         1
Xiaomi       1
Name: count, dtype: int64

In [60]:
df_laptops.drop_duplicates(['Company'],keep='last',ignore_index=True)[['Company','Price_euros']]

      Company  Price_euros
0        Acer      2599.00
1       Apple      2858.00
2        Asus      3975.00
3       Chuwi       449.00
4        Dell      3659.40
5     Fujitsu       799.00
6      Google      2199.00
7          HP      4389.00
8      Huawei      1499.00
9          LG      2299.00
10     Lenovo      4899.00
11        MSI      2799.00
12   Mediacom       389.00
13  Microsoft      2589.00
14      Razer      6099.00
15    Samsung      1849.00
16    Toshiba      2799.00
17       Vero       260.00
18     Xiaomi      1399.95

# Exercise 2
Task to find the biggest and the smallest screes of laptops of each company using duplicates,sortvalue methods

In [62]:
# sort the elements first
df_laptops.sort_values(['Company','Inches'],inplace=True)

In [65]:
# the smallest of each company
duplicated_first=df_laptops.duplicated('Company')
df_laptops[~duplicated_first][['Company','Inches']]

        Company  Inches
1215       Acer    11.6
1234      Apple    11.6
20         Asus    11.6
421       Chuwi    12.3
584        Dell    11.6
983     Fujitsu    15.6
472      Google    12.3
1268         HP    11.6
170      Huawei    13.0
909          LG    14.0
50       Lenovo    10.1
1161        MSI    14.0
429    Mediacom    11.6
457   Microsoft    13.5
1117      Razer    12.5
430     Samsung    11.6
963     Toshiba    12.5
1120       Vero    13.3
877      Xiaomi    13.3

In [68]:
# biggest of each company
df_laptops.drop_duplicates(['Company'],keep='last')[['Company','Inches']]
duplicated_last=df_laptops.duplicated('Company',keep='last')

In [70]:
#answer
df_laptops[(~duplicated_first)|(~duplicated_last)][['Company','Inches']]

        Company  Inches
1215       Acer    11.6
1189       Acer    17.3
1234      Apple    11.6
17        Apple    15.4
20         Asus    11.6
1066       Asus    17.3
421       Chuwi    12.3
483       Chuwi    15.6
584        Dell    11.6
723        Dell    17.3
983     Fujitsu    15.6
623     Fujitsu    15.6
472      Google    12.3
437      Google    12.3
1268         HP    11.6
749          HP    17.3
170      Huawei    13.0
214      Huawei    13.0
909          LG    14.0
678          LG    15.6
50       Lenovo    10.1
1081     Lenovo    17.3
1161        MSI    14.0
177         MSI    18.4
429    Mediacom    11.6
580    Mediacom    14.0
457   Microsoft    13.5
449   Microsoft    13.5
1117      Razer    12.5
196       Razer    17.3
430     Samsung    11.6
593     Samsung    15.6
963     Toshiba    12.5
923     Toshiba    15.6
1120       Vero    13.3
191        Vero    14.0
877      Xiaomi    13.3
514      Xiaomi    15.6