In [16]:
import pandas as pd
import numpy as np

In [5]:
#Sample data
df_data=pd.read_csv('SampleDocuments\\StudentDetails.csv')
df_data.head()

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D

# Operations on Data Frames
### 1. Math operations
#### 1.1 Operations in columns

In [6]:
# slect a column a calculate its total sum
df_data['Score'].sum()

np.int64(63459)

In [12]:
#count ,mean,std,max,min
df_data['Score'].count()
df_data['Score'].mean()
df_data['Score'].std()
df_data['Score'].max()
df_data['Score'].min()

np.int64(30)

In [14]:
df_data.describe()

         StudentID        Score          Age
count  1000.000000  1000.000000  1000.000000
mean    500.500000    63.459000    17.525000
std     288.819436    20.262697     1.123671
min       1.000000    30.000000    16.000000
25%     250.750000    46.000000    17.000000
50%     500.500000    63.000000    18.000000
75%     750.250000    81.000000    19.000000
max    1000.000000   100.000000    19.000000

#### 1.2 Operations in rows

In [15]:
#calculate the sum
df_data['Score']+df_data['Age']

0       65
1       67
2       99
3      102
4       89
      ...
995     74
996    101
997     87
998     59
999     92
Length: 1000, dtype: int64

In [ ]:
score1=np.random.randint(30,100,size=1000)
score2=np.random.randint(30,100,size=1000)
#crating series to add
series1=pd.Series(score1,index=np.arange(0,1000))
series2=pd.Series(score2,index=np.arange(0,1000))
df_data=df_data.assign(Chemistry=series1,Physics=series2)
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Chemistry,Physics
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,31,73
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,39,51
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,90,32
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,34,46
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,92,51
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,93,88
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,73,40
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,90,85
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,61,67
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,99,31

In [49]:
# Average of a row as a new column
df_data['Average Score']=(df_data['Score']+df_data['Physics']+df_data['Chemistry'])/3

In [51]:
df_data.round(2)

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade,Chemistry,Physics,Average Score
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D,31,73,50.00
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F,39,51,46.67
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D,90,32,67.33
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B,34,46,55.00
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D,92,51,72.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B,93,88,79.00
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C,73,40,66.00
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A,90,85,81.33
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C,61,67,56.67
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F,99,31,68.00