# Pandas

### Data frame( 2-D Array)
       col 1    col 2
     1. 23       45
     2. 34       65
     3. 78       43
     4. 65       54

In [1]:
import numpy as np
import pandas as pd

# 1 Creating dataframe from an array
### 1.1 Option 1

In [2]:
# creating an array
data=np.array([[1,4],[2,5],[3,6]])

In [3]:
# creating dataframe
df=pd.DataFrame(data, index=['row1','row2','row3'],columns=['col1','col2'])

In [4]:
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

### 1.2 Option 2

In [5]:
# creating an array
data=[[1,4],[2,5],[3,6]]

In [6]:
# creating dataframe
df=pd.DataFrame(data, index=['row1','row2','row3'],columns=['col1','col2'])

In [7]:
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating Datframes from a dictionary

In [8]:
# for example
states=['Uttar Pradesh','Rajasthan','Karnatka','Tamil Nadu','Maharashtra']
popultion=[2343535,3464332,1345434,1436345,2343242]

In [9]:
#storing list
dict_states={'States':states,"Population":popultion}

In [10]:
#Creating data frame
df_population=pd.DataFrame(dict_states,index=[1,2,3,4,5])

In [11]:
#show dataframe
df_population

          States  Population
1  Uttar Pradesh     2343535
2      Rajasthan     3464332
3       Karnatka     1345434
4     Tamil Nadu     1436345
5    Maharashtra     2343242

# Creating dataframe a csv file

In [12]:
# reading a csv file
df_data=pd.read_csv('SampleDocuments/StudentDetails.csv')

In [13]:
#show first five rows
df_data

,StudentID,Score,Date,Description,Ethnicity,Subject,Hobby,Interest,Age,Grade
0,1,46,02:11:2025,Assam,Rajput,Zoology,Reading,Esports,19,D
1,2,50,28:10:2025,Bangluru,Odia,Chemistry,Shooting,Painting,17,F
2,3,80,08:11:2025,Gujrat,Maratha,Physics,Talking,Comedy,19,D
3,4,85,28:10:2025,Noida,Kayasth,French,Shooting,Painting,17,B
4,5,73,01:11:2025,Delhi,Kayasth,Economics,Talking,MotoRacing,16,D
...,...,...,...,...,...,...,...,...,...,...
995,996,56,03:11:2025,Assam,Odia,Maths,Biking,Esports,18,B
996,997,85,06:11:2025,Shillong,Adiwasi,Economics,Cycling,Cars,16,C
997,998,69,12:11:2025,Delhi,Adiwasi,Hindi,Talking,Sketching,18,A
998,999,42,02:11:2025,Varansi,Sikh,Physics,Teaching,Football,17,C
999,1000,74,26:10:2025,Assam,Rajput,Chemistry,Talking,Sketching,18,F

## Creating a series

In [17]:
data=np.random.randint(30,100,size=100)
pd.Series(data,index=np.arange(1,101))

1      47
2      41
3      69
4      49
5      98
       ..
96     47
97     41
98     69
99     85
100    41
Length: 100, dtype: int32